
  <mat-card class="containerCard installments" style="background-color: #EDE7F6;">
    <div class="card debit">
    <div class="header">Pesa Iliyokopeshwa</div>
      <div class="inCard" style="color: rgb(255, 122, 122);">TZS 2,000,000/=</div>
    </div>
    <div class="card credit">
    <div class="header">Pesa itakayolipwa</div>
      <div class="inCard" style="color: rgb(137, 255, 108);">TZS 4,500,000/=</div>
    </div>
    <div class="card nextdate">
    <div class="header">Profit</div>
  <div class="inCard" style="color: rgb(118, 108, 255);">TZS 2,500,000/=</div>
    </div>
  </mat-card>
