<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false" style="margin-bottom: 10px;" *ngFor="let customerDetails of customerObjectFromFirebase">
    <mat-expansion-panel-header>
      <mat-panel-title style="font-weight: 500;">
        {{customerDetails.payload.doc.data().name}}
      </mat-panel-title>

    </mat-expansion-panel-header>

    <div fxLayout="row" fxLayoutAlign="space-between center">

      <div fxLayout="row" fxLayoutAlign="space-around center" >
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
width="24" height="24"
viewBox="0 0 16 16"
style=" fill:#000000;"><path fill="#bae0bd" d="M3.5 12.59L3.5 7.5 12.5 7.5 12.5 14.39z"></path>
<path fill="#5e9c76" d="M12,8v5.78l-8-1.6V8H12 M13,7H3v6l10,2V7L13,7z"></path>
<path fill="#bae0bd" d="M2.5 11.54L2.5 5.5 13.5 5.5 13.5 12.457z"></path>
<path fill="#5e9c76" d="M13,6v5.913L3,11.08V6H13 M14,5H2v7l12,1V5L14,5z"></path>
<path fill="#bae0bd" d="M1.5 3.5H14.5V10.5H1.5z"></path><path fill="#5e9c76" d="M14,4v6H2V4H14 M15,3H1v8h14V3L15,3z"></path><g>
  <path fill="#fff" d="M8 5.5A1.5 1.5 0 1 0 8 8.5A1.5 1.5 0 1 0 8 5.5Z"></path>
  <path fill="#5e9c76" d="M8,6c0.551,0,1,0.449,1,1S8.551,8,8,8S7,7.551,7,7S7.449,6,8,6 M8,5C6.895,5,6,5.895,6,7 s0.895,2,2,2s2-0.895,2-2S9.105,5,8,5L8,5z"></path></g><g>
    <path fill="#5e9c76" d="M4 6A1 1 0 1 0 4 8A1 1 0 1 0 4 6Z"></path></g><g><path fill="#5e9c76" d="M12 6A1 1 0 1 0 12 8A1 1 0 1 0 12 6Z"></path></g></svg>
        <div style="font-weight: 300;font-size: medium;">Total Loan To Pay</div>
      </div>

      <div style="font-weight: 500;font-size:medium;">Tsh 300,000/=</div>

    </div>
  </mat-expansion-panel>


</mat-accordion>
