
<div fxLayout="column" fxLayoutAlign="space-between center">

  <div fxLayout="column" fxLayoutAlign="space-between center" >
    <img src={{allDataService.customerData.customerImgFile}} class="c_image">
    <div class="CustomerName">{{allDataService.customerData.name}}</div>
  </div>
</div>

<mat-card class=" containerCard detailsContainer">
<div class="details personal">
    <div mat-subheader>Personal Details</div>
    <mat-list>
      <mat-list-item>
        <mat-icon mat-list-icon>perm_identity</mat-icon>
        <div mat-line>Client Number</div>
        <div mat-line>000021</div>
      </mat-list-item>

      <mat-list-item>
        <mat-icon mat-list-icon>loop</mat-icon>
        <div mat-line>Client Type</div>
        <div mat-line>{{allDataService.customerData.nature}}</div>
      </mat-list-item>

      <mat-list-item>
        <mat-icon mat-list-icon>call</mat-icon>
        <div mat-line>Contacts</div>
        <div mat-line>{{allDataService.customerData.phone}}</div>
        <button mat-icon-button mat-button>
          <mat-icon>edit</mat-icon>
        </button>
      </mat-list-item>

       <mat-list-item>
        <mat-icon mat-list-icon>location_on</mat-icon>
        <div mat-line>Address</div>
        <div mat-line>{{allDataService.customerData.residentAddress}}</div>
        <button mat-icon-button  mat-button>
          <mat-icon>edit</mat-icon>
        </button>
      </mat-list-item>
      
    </mat-list>
   
      <mat-expansion-panel 
      (opened)="panelOpenState = true" 
      (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{allDataService.customerData.name}}
          </mat-panel-title>
          <mat-panel-description>
            {{panelOpenState ? 'Less' : 'More'}} About Client
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item>
            <svg mat-list-icon xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="48" height="48"
              viewBox="0 0 172 172"
              style=" fill:#000000;">
              <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                font-family="none" font-weight="none" font-size="none" text-anchor="none"
                style="mix-blend-mode: normal">
                <path d="M0,172v-172h172v172z" fill="none"></path>
                <g fill="#808080">
                  <path
                    d="M125.41667,7.16667h-35.83333v14.33333h26.15833l-24.36667,24.36667c-13.975,-9.31667 -32.96667,-7.525 -45.15,4.65833c-13.975,13.975 -13.975,36.55 0,50.525c5.01667,5.01667 11.46667,8.24167 18.275,9.675v18.275h-21.5v14.33333h21.5v21.5h14.33333v-21.5h21.5v-14.33333h-21.5v-18.275c6.80833,-1.43333 12.9,-4.65833 18.275,-9.675c12.18333,-12.18333 13.61667,-31.175 4.65833,-45.15l23.65,-23.65v25.08333h14.33333v-35.83333v-14.33333zM86.71667,90.65833c-8.24167,8.24167 -21.85833,8.24167 -30.1,0c-8.24167,-8.24167 -8.24167,-21.85833 0,-30.1c8.24167,-8.24167 21.85833,-8.24167 30.1,0c8.24167,8.24167 8.24167,21.85833 0,30.1z">
                  </path>
                </g>
              </g>
            </svg>
            <div mat-line>Gender</div>
            <div mat-line>{{allDataService.customerData.gender}}</div>
          </mat-list-item>

          <mat-list-item>
            <mat-icon mat-list-icon>cake</mat-icon>
            <div mat-line>Birthday</div>
            <div mat-line>{{allDataService.customerData.birth}}</div>
          </mat-list-item>
          
          <mat-list-item>
            <mat-icon mat-list-icon>favorite</mat-icon>
            <div mat-line>Marital status</div>
            <div mat-line>{{allDataService.customerData.maritalStatus}}</div>
          </mat-list-item>

          <mat-list-item>
            <mat-icon mat-list-icon>card_membership</mat-icon>
            <div mat-line>ID Type</div>
            <div mat-line>{{allDataService.customerData.id_type}}</div>
            <button mat-icon-button mat-button>
              <mat-icon>edit</mat-icon>
            </button>
          </mat-list-item>

          <mat-list-item>
            <mat-icon mat-list-icon>fingerprint</mat-icon>
            <div mat-line>ID Number</div>
            <div mat-line>{{allDataService.customerData.id_number}}</div>
            <button mat-icon-button mat-button>
              <mat-icon>edit</mat-icon>
            </button>
          </mat-list-item>

        </mat-list>
      </mat-expansion-panel>
  
</div>

<div class="details">
    <div mat-subheader>Loan Details</div>
    <mat-list>
      <mat-list-item>
        <mat-icon mat-list-icon>calendar_view_day</mat-icon>
        <div mat-line>Disbursement Date</div>
        <div mat-line>3/6/2020</div>
      </mat-list-item>

      <mat-list-item>
        <mat-icon mat-list-icon>stars</mat-icon>
        <div mat-line>Interest Rate</div>
        <div mat-line>20%</div>
        <button mat-icon-button mat-button>
          <mat-icon>edit</mat-icon>
        </button>
        
      </mat-list-item>

      <mat-list-item>
        <mat-icon mat-list-icon>calendar_today</mat-icon>
        <div mat-line>Tenure</div>
        <div mat-line>8 Weeks</div>
        <button mat-icon-button mat-button>
          <mat-icon>edit</mat-icon>
        </button>
      </mat-list-item>

       <mat-list-item>
        <mat-icon mat-list-icon>date_range</mat-icon>
        <div mat-line>Weekly Instalment</div>
        <div mat-line>30,000/- TZS</div>
        <button mat-icon-button mat-button>
          <mat-icon>edit</mat-icon>
        </button>
      </mat-list-item>

    </mat-list>
</div>
</mat-card>


<mat-card class="containerCard installments">
  <div class="card debit">
  <div class="header">Loan Amount</div>
    <div class="inCard" style="color: rgb(255, 122, 122);">100,000/- TZS</div>
  </div>
  <div class="card credit">
  <div class="header">next Date</div>
    <div class="inCard" style="color: rgb(137, 255, 108);">20/6/2020</div>
  </div>
  <div class="card nextdate">
  <div class="header">Remaining Amount</div>
<div class="inCard" style="color: rgb(118, 108, 255);">68,000/- TZS</div>
  </div>
</mat-card>

<mat-card class="containerCard">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let element"> {{element.date}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="debit">
      <th mat-header-cell *matHeaderCellDef> Debit </th>
      <td mat-cell *matCellDef="let element"> {{element.debit}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="credit">
      <th mat-header-cell *matHeaderCellDef> Credit </th>
      <td mat-cell *matCellDef="let element"> {{element.credit}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</mat-card>
