
<div fxLayout="column" fxLayoutAlign="space-between center">

  <div fxLayout="column" fxLayoutAlign="space-between center" >
    <img src={{allDataService.customerData.customerImgFile}} style="border-radius: 50%;width: 80px;height: 80px;">
    <div class="CustomerName">{{allDataService.customerData.name}}</div>
  </div>
</div>

<mat-card class=" containerCard detailsContainer">
<div class="details personal">
    <div mat-subheader>Personal Details</div>
    <mat-list>
      <mat-list-item>
        <mat-icon mat-list-icon>perm_identity</mat-icon>
        <div mat-line>Client Number</div>
        <div mat-line>000021</div>
      </mat-list-item>

      <mat-list-item>
        <mat-icon mat-list-icon>loop</mat-icon>
        <div mat-line>Client Type</div>
        <div mat-line>Reccuring</div>
      </mat-list-item>

      <mat-list-item>
        <mat-icon mat-list-icon>call</mat-icon>
        <div mat-line>Contacts</div>
        <div mat-line>+255 XXX XXX XXX</div>
        <button mat-icon-button mat-button>
          <mat-icon>edit</mat-icon>
        </button>
      </mat-list-item>

       <mat-list-item>
        <mat-icon mat-list-icon>location_on</mat-icon>
        <div mat-line>Address</div>
        <div mat-line>Uyole</div>
        <button mat-icon-button  mat-button>
          <mat-icon>edit</mat-icon>
        </button>
      </mat-list-item>
      

    </mat-list>
</div>

<div class="details">
    <div mat-subheader>Loan Details</div>
    <mat-list>
      <mat-list-item>
        <mat-icon mat-list-icon>calendar_view_day</mat-icon>
        <div mat-line>Disbursement Date</div>
        <div mat-line>3/6/2020</div>
      </mat-list-item>

      <mat-list-item>
        <mat-icon mat-list-icon>stars</mat-icon>
        <div mat-line>Interest Rate</div>
        <div mat-line>20%</div>
        <button mat-icon-button mat-button>
          <mat-icon>edit</mat-icon>
        </button>
        
      </mat-list-item>

      <mat-list-item>
        <mat-icon mat-list-icon>calendar_today</mat-icon>
        <div mat-line>Tenure</div>
        <div mat-line>8 Weeks</div>
        <button mat-icon-button mat-button>
          <mat-icon>edit</mat-icon>
        </button>
      </mat-list-item>

       <mat-list-item>
        <mat-icon mat-list-icon>date_range</mat-icon>
        <div mat-line>Weekly Instalment</div>
        <div mat-line>30,000/- TZS</div>
        <button mat-icon-button mat-button>
          <mat-icon>edit</mat-icon>
        </button>
      </mat-list-item>

    </mat-list>
</div>
</mat-card>


<mat-card class="containerCard installments">
  <div class="card debit">
  <div class="header">Loan Amount</div>
    <div class="inCard" style="color: rgb(255, 122, 122);">100,000/- TZS</div>
  </div>
  <div class="card credit">
  <div class="header">next Date</div>
    <div class="inCard" style="color: rgb(137, 255, 108);">20/6/2020</div>
  </div>
  <div class="card nextdate">
  <div class="header">Remaining Amount</div>
<div class="inCard" style="color: rgb(118, 108, 255);">68,000/- TZS</div>
  </div>
</mat-card>

<mat-card class="containerCard">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let element"> {{element.date}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="debit">
      <th mat-header-cell *matHeaderCellDef> Debit </th>
      <td mat-cell *matCellDef="let element"> {{element.debit}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="credit">
      <th mat-header-cell *matHeaderCellDef> Credit </th>
      <td mat-cell *matCellDef="let element"> {{element.credit}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</mat-card>
