
.containerCard{
    width: 98%;
    margin-top: 20px;
}
.image_container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.c_image{
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.CustomerName{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 3vw;
}
[seg]{
    width: 50%;
    float: left;
}
.card{
    height: 200px;
    margin: 10px 0 10px 0;
    border-radius: 10px;
    width: 30%;
    font-family: 'Ubuntu',
    sans-serif;
}
.installments{
    display: flex;
    justify-content: space-around;
}
.debit{
    background: rgb(255, 219, 219);
}
.debit > .header{
    color: rgb(109, 0, 0);
}

.credit{
    background: rgb(215, 255, 205);

}
.credit > .header{
    color: rgb(0, 63, 0);
}

.nextdate {
    background: rgb(203, 199, 255);
}
.nextdate > .header {
    color: rgb(0, 0, 56);
}

.header{
    margin: 10px 0 10px 20px;
    font-weight: bold;
}
.inCard{
    font-size: 2.5vw;
    margin-top: 60px;
    text-align: center;
}

table {
  width: 100%;
}

.detailsContainer{
    display: flex;
    justify-content: space-around;
}
.details{
    width: 46%;
    padding: 0 2% 0 2%;
    margin: 20px 0 20px 0;
}
.personal{
    border-style: solid;
    border-width: 1px;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-color: rgb(192, 192, 192);
}
mat-list-icon {
    color: grey;
}