* {
  font-family: 'Ubuntu', sans-serif;
}
.searchBoxContainer{
    width: 35vw;
    border: none;
    background-color: white;
    text-indent: 10px;
    margin-top: 2px;
    color: grey;
    float: left;
    outline: none;
    
}

[matPrefix] {
    color: grey;
    float: left;
    position: relative;
    height: 20px;
    font-size: 20px;

}

.searchBox{
    background-color: white;
    border-radius: 5px;
    padding: 3px;
    -webkit-box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.75);
}
[userImage]{
    height: 40px;
    width: 40px;
    border-radius: 100%;
}
[userName]{
  
    margin-left: 10px;
    font-size: 1.2vw;
    margin-right: 10px;
    cursor: pointer;
}

[toolBar]{
    z-index: 5;
    position: sticky;
    top: 0;
    background-color: #EDE7F6;
}