<div fxLayout="row" fxLayoutAlign="space-between center" style="padding: 10px;">

  <div fxLayout="row" fxLayoutAlign="space-evenly center">
    <img src="https://img.icons8.com/color/48/000000/test-account.png" style="border-radius: 50%;width: 20px;height: 20px;cursor: pointer;"/>
    <div style="margin-left: 10px;margin-right: 10px;cursor: pointer;">Adam Reuben</div>
  </div>

  <div>
    <button mat-raised-button style="margin-right: 10px;">Login With Google</button>
    <button mat-flat-button>Sign Out</button>
  </div>

</div>
