<div fxLayout="row" fxLayoutAlign="space-between center" style="padding: 10px;">

  <div fxLayout="row" fxLayoutAlign="space-evenly center">
    <img src={{imageUrlFromGoogleAccount}} style="border-radius: 50%;width: 20px;height: 20px;">
    <div style="margin-left: 10px;margin-right: 10px;cursor: pointer;">{{nameFromGoogleAccount}}</div>
  </div>

  <div class="searchBox">
  
      <mat-icon closeIcon>search</mat-icon>
  
    <input matInput type="text" [(ngModel)]="value" placeholder="Search Here" class="searchBoxContainer">
    <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
      <mat-icon>close</mat-icon>
    </button>
</div>
    
  




  <div>
    <button mat-raised-button style="margin-right: 10px;" routerLink="/admin-login" *ngIf="hideButton === false">Login With Google</button>
    <button mat-flat-button (click)="logOut()" *ngIf="hideButton === true">Sign Out</button>
  </div>

</div>
