.searchBoxContainer{
    width: 35vw;
    border: none;
    background-color: white;
    text-indent: 10px;
    height: 25px;
    color: grey;
    float: left;
    outline: none;
    
}

[closeIcon]{
    color: grey;
    float: left;
    position: relative;

}

.searchBox{
    background-color: white;
    border-radius: 5px;
    padding: 3px;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
}
[userImage]{
    height: 40px;
    width: 40px;
    border-radius: 100%;
}
[userName]{
  
    margin-left: 10px;
    font-size: 1.2vw;
    margin-right: 10px;
    cursor: pointer;
}