

<div container >

  <div sideNav>


    <div dashOpt fxLayout="row"  (click)="changeLayoutDesign('home')"  >
      <mat-icon>home</mat-icon>
      <div class="opts">Home</div>
    </div>

    <div dashOpt fxLayout="row" (click)="changeLayoutDesign('payment')">
      <mat-icon>attach_money</mat-icon>
      <div class="opts">Payments</div>

    </div>

    <div dashOpt fxLayout="row" (click)="changeLayoutDesign('balance')">
      <mat-icon>account_balance_wallet</mat-icon>
      <div class="opts">Balance</div>
    </div>

    <div dashOpt fxLayout="row"  (click)="changeLayoutDesign('customer')">
      <mat-icon>account_circle</mat-icon>
      <div class="opts">Customers</div>
    </div>

    <div dashOpt fxLayout="row" (click)="changeLayoutDesign('connected_account')">
      <mat-icon>verified_user</mat-icon>
      <div class="opts">Connected Accounts</div>
    </div>

    <div dashOpt fxLayout="row"  (click)="changeLayoutDesign('reports')">
      <mat-icon>bar_chart</mat-icon>
      <div class="opts">Reports</div> 
    </div>

    <div dashOpt fxLayout="row"  (click)="changeLayoutDesign('setting')">
      <mat-icon>settings</mat-icon>
      <div class="opts">Settings</div>
    </div>
  </div>

  <div contentView>
    <div *ngIf="switchLayoutType === 'home' ">
      <app-home></app-home>
    </div>
    <div *ngIf="switchLayoutType === 'payment' ">
      <app-payment></app-payment>
    </div>
    <div *ngIf="switchLayoutType === 'balance' ">
      <app-balance></app-balance>
    </div>
    <div *ngIf="switchLayoutType === 'customer' ">
      <app-customer></app-customer>
    </div>
    <div *ngIf="switchLayoutType === 'connected_account' ">
      <app-connected-account></app-connected-account>
    </div>
    <div *ngIf="switchLayoutType === 'reports' ">
      <app-report></app-report>
    </div>
    <div *ngIf="switchLayoutType === 'setting' ">
      <app-setting></app-setting>
    </div>
  </div>

</div>
