

[dashOpt] {
margin-top: 10px;
transition: 0.7s;
padding-bottom: 10px;
cursor: pointer;
padding: 3px;
color: grey;

}

[dashOpt]:hover > mat-icon {
  /* background-color: lightgrey; */
  color: black;
transition: 0.7s;

}
.opts{
  margin-top:3px;
  margin-left: 10px;
}
[sideNav]{
  position: fixed;
  float: left;
  max-width: 20%;
  min-width: 20%;
}
[contentView]{
  float: right;
  max-width: 77%;
  min-width: 77%;
  padding: 1%;
}
[container]{
  width: 98%;
  padding: 1%;
}
mat-tree{
  background-color: transparent;
  width: 100%;
}