
<div>
  <h1 style="text-align: center;">All Connected Accounts</h1>
  <mat-list role="list">

    <mat-list-item role="listitem" style="margin-bottom: 40px;">
      <mat-card style="background-color: whitesmoke;width: 100%;">
        <div fxLayout="row" fxLayoutAlign="space-between center">

            <img src="https://photo-cdn.icons8.com/assets/previews/729/35b9365a-7fe4-459c-ac3e-5623c8574bd7.jpg" style="border-radius: 50%;width: 50px;height: 50px;cursor: pointer;"/>

          <button mat-stroked-button>Registered</button>
        </div>
      </mat-card>
    </mat-list-item>

    <mat-list-item role="listitem" style="margin-bottom: 40px;">
      <mat-card style="background-color: whitesmoke;width: 100%;">
        <div fxLayout="row" fxLayoutAlign="space-between center">

            <img src="https://photo-cdn.icons8.com/assets/previews/729/35b9365a-7fe4-459c-ac3e-5623c8574bd7.jpg" style="border-radius: 50%;width: 50px;height: 50px;cursor: pointer;"/>

            <button mat-stroked-button>Bado</button>

        </div>
      </mat-card>
    </mat-list-item>

    <mat-list-item role="listitem" style="margin-bottom: 40px;">
      <mat-card style="background-color: whitesmoke;width: 100%;">
        <div fxLayout="row" fxLayoutAlign="space-between center">

            <img src="https://photo-cdn.icons8.com/assets/previews/729/35b9365a-7fe4-459c-ac3e-5623c8574bd7.jpg" style="border-radius: 50%;width: 50px;height: 50px;cursor: pointer;"/>

            <button mat-stroked-button>Registered</button>

        </div>
      </mat-card>
    </mat-list-item>

    <mat-list-item role="listitem" style="margin-bottom: 40px;">
      <mat-card style="background-color: whitesmoke;width: 100%;">
        <div fxLayout="row" fxLayoutAlign="space-between center">

            <img src="https://photo-cdn.icons8.com/assets/previews/729/35b9365a-7fe4-459c-ac3e-5623c8574bd7.jpg" style="border-radius: 50%;width: 50px;height: 50px;cursor: pointer;"/>

            <button mat-stroked-button>Registered</button>

        </div>
      </mat-card>
    </mat-list-item>

    <mat-list-item role="listitem" style="margin-bottom: 40px;">
      <mat-card style="background-color: whitesmoke;width: 100%;">
        <div fxLayout="row" fxLayoutAlign="space-between center">

            <img src="https://photo-cdn.icons8.com/assets/previews/729/35b9365a-7fe4-459c-ac3e-5623c8574bd7.jpg" style="border-radius: 50%;width: 50px;height: 50px;cursor: pointer;"/>

            <button mat-stroked-button>Registered</button>

        </div>
      </mat-card>
    </mat-list-item>

    <mat-list-item role="listitem" style="margin-bottom: 40px;">
      <mat-card style="background-color: whitesmoke;width: 100%;">
        <div fxLayout="row" fxLayoutAlign="space-between center">

            <img src="https://photo-cdn.icons8.com/assets/previews/729/35b9365a-7fe4-459c-ac3e-5623c8574bd7.jpg" style="border-radius: 50%;width: 50px;height: 50px;cursor: pointer;"/>

            <button mat-stroked-button>Registered</button>

        </div>
      </mat-card>
    </mat-list-item>

    <mat-list-item role="listitem" style="margin-bottom: 40px;">
      <mat-card style="background-color: whitesmoke;width: 100%;">
        <div fxLayout="row" fxLayoutAlign="space-between center">

            <img src="https://photo-cdn.icons8.com/assets/previews/729/35b9365a-7fe4-459c-ac3e-5623c8574bd7.jpg" style="border-radius: 50%;width: 50px;height: 50px;cursor: pointer;"/>

            <button mat-stroked-button>Registered</button>

        </div>
      </mat-card>
    </mat-list-item>

    <mat-list-item role="listitem" style="margin-bottom: 40px;">
      <mat-card style="background-color: whitesmoke;width: 100%;">
        <div fxLayout="row" fxLayoutAlign="space-between center">

            <img src="https://photo-cdn.icons8.com/assets/previews/729/35b9365a-7fe4-459c-ac3e-5623c8574bd7.jpg" style="border-radius: 50%;width: 50px;height: 50px;cursor: pointer;"/>

            <button mat-stroked-button>Registered</button>

        </div>
      </mat-card>
    </mat-list-item>
  </mat-list>
</div>
