
<mat-list>
  <mat-list-item>

      <div fxLayout="row" fxLayoutAlign="start center" style="padding-bottom: 8px;">

          <div style="padding-right: 40px;">
              <img  style="border-radius: 50%;width: 50px;height: 50px;">
          </div>

          <div fxLayout="column" fxLayoutAlign="space-around start" style="margin-right: 200px;" >
              <div>{{"Macodex"}}</div>
          </div>

          <div>
            <mat-chip-list>
            <mat-chip color="primary" selected style="color: whitesmoke;">#Payed On March</mat-chip>
            <mat-chip color="accent" selected style="color: whitesmoke;">#Payed Successfully</mat-chip>
            </mat-chip-list>
          </div>


      </div>
  </mat-list-item>
  <mat-divider></mat-divider>

</mat-list>
