
<div *ngIf="layoutChoose === 'all' ">
  <mat-list role="list">

    <mat-list-item role="listitem" style="margin-bottom: 40px;">
      <mat-card style="background-color: whitesmoke;width: 100%;">
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <div fxLayout="row">
            <img src="https://photo-cdn.icons8.com/assets/previews/729/35b9365a-7fe4-459c-ac3e-5623c8574bd7.jpg" style="border-radius: 50%;width: 50px;height: 50px;cursor: pointer;"/>
            <div style="margin-top: 15px;margin-left: 10px;">Name</div>
          </div>

          <button mat-stroked-button>Complete</button>
        </div>
      </mat-card>
    </mat-list-item>

    <mat-list-item role="listitem" style="margin-bottom: 40px;">
      <mat-card style="background-color: whitesmoke;width: 100%;">
        <div fxLayout="row" fxLayoutAlign="space-between center">

            <img src="https://photo-cdn.icons8.com/assets/previews/729/35b9365a-7fe4-459c-ac3e-5623c8574bd7.jpg" style="border-radius: 50%;width: 50px;height: 50px;cursor: pointer;"/>

            <button mat-stroked-button>Bado</button>

        </div>
      </mat-card>
    </mat-list-item>

    <mat-list-item role="listitem" style="margin-bottom: 40px;">
      <mat-card style="background-color: whitesmoke;width: 100%;">
        <div fxLayout="row" fxLayoutAlign="space-between center">

            <img src="https://photo-cdn.icons8.com/assets/previews/729/35b9365a-7fe4-459c-ac3e-5623c8574bd7.jpg" style="border-radius: 50%;width: 50px;height: 50px;cursor: pointer;"/>

            <button mat-stroked-button>Registered</button>

        </div>
      </mat-card>
    </mat-list-item>

    <mat-list-item role="listitem" style="margin-bottom: 40px;">
      <mat-card style="background-color: whitesmoke;width: 100%;">
        <div fxLayout="row" fxLayoutAlign="space-between center">

            <img src="https://photo-cdn.icons8.com/assets/previews/729/35b9365a-7fe4-459c-ac3e-5623c8574bd7.jpg" style="border-radius: 50%;width: 50px;height: 50px;cursor: pointer;"/>

            <button mat-stroked-button>Registered</button>

        </div>
      </mat-card>
    </mat-list-item>

    <mat-list-item role="listitem" style="margin-bottom: 40px;">
      <mat-card style="background-color: whitesmoke;width: 100%;">
        <div fxLayout="row" fxLayoutAlign="space-between center">

            <img src="https://photo-cdn.icons8.com/assets/previews/729/35b9365a-7fe4-459c-ac3e-5623c8574bd7.jpg" style="border-radius: 50%;width: 50px;height: 50px;cursor: pointer;"/>

            <button mat-stroked-button>Registered</button>

        </div>
      </mat-card>
    </mat-list-item>

    <mat-list-item role="listitem" style="margin-bottom: 40px;">
      <mat-card style="background-color: whitesmoke;width: 100%;">
        <div fxLayout="row" fxLayoutAlign="space-between center">

            <img src="https://photo-cdn.icons8.com/assets/previews/729/35b9365a-7fe4-459c-ac3e-5623c8574bd7.jpg" style="border-radius: 50%;width: 50px;height: 50px;cursor: pointer;"/>

            <button mat-stroked-button>Registered</button>

        </div>
      </mat-card>
    </mat-list-item>

    <mat-list-item role="listitem" style="margin-bottom: 40px;">
      <mat-card style="background-color: whitesmoke;width: 100%;">
        <div fxLayout="row" fxLayoutAlign="space-between center">

            <img src="https://photo-cdn.icons8.com/assets/previews/729/35b9365a-7fe4-459c-ac3e-5623c8574bd7.jpg" style="border-radius: 50%;width: 50px;height: 50px;cursor: pointer;"/>

            <button mat-stroked-button>Registered</button>

        </div>
      </mat-card>
    </mat-list-item>

    <mat-list-item role="listitem" style="margin-bottom: 40px;">
      <mat-card style="background-color: whitesmoke;width: 100%;">
        <div fxLayout="row" fxLayoutAlign="space-between center">

            <img src="https://photo-cdn.icons8.com/assets/previews/729/35b9365a-7fe4-459c-ac3e-5623c8574bd7.jpg" style="border-radius: 50%;width: 50px;height: 50px;cursor: pointer;"/>

            <button mat-stroked-button>Registered</button>

        </div>
      </mat-card>
    </mat-list-item>
  </mat-list>
</div>

<div *ngIf="layoutChoose === 'register' ">

  <div style="text-align: center;">
    <label for="file">Choose Customer Image</label>
          <input type="file" (change)="uploadImg($event)" accept=".png,.jpg" />
  </div>

  <form class="example-form">

    <mat-card style="background-color: whitesmoke;margin-bottom: 10px;">
      <mat-form-field floatLabel="never" class="example-full-width ">
        <mat-label>Customer Name</mat-label>
        <input matInput>
      </mat-form-field>
    </mat-card>


    <mat-card style="background-color: whitesmoke;margin-bottom: 10px;">
      <mat-form-field class="example-full-width " floatLabel="never">
        <input matInput placeholder="Nature Of Customer">
      </mat-form-field>
    </mat-card>

    <mat-card style="background-color: whitesmoke;margin-bottom: 10px;">
      <mat-form-field class="example-full-width " floatLabel="never">
        <input matInput placeholder="Nature Of Customer">
      </mat-form-field>
    </mat-card>

    <mat-card style="background-color: whitesmoke;margin-bottom: 10px;">
      <mat-form-field class="example-full-width " floatLabel="never">
        <input matInput placeholder="Gender">
      </mat-form-field>
    </mat-card>

    <mat-card style="background-color: whitesmoke;margin-bottom: 10px;">
      <mat-form-field class="example-full-width " floatLabel="never">
        <input matInput placeholder="Date of Birth">
      </mat-form-field>
    </mat-card>

    <mat-card style="background-color: whitesmoke;margin-bottom: 10px;">
      <mat-form-field class="example-full-width " floatLabel="never">
        <input matInput placeholder="Marital Status">
      </mat-form-field>
    </mat-card>

    <mat-card style="background-color: whitesmoke;margin-bottom: 10px;">
      <mat-form-field class="example-full-width " floatLabel="never">
        <input matInput placeholder="Id Type">
      </mat-form-field>
    </mat-card>

    <mat-card style="background-color: whitesmoke;margin-bottom: 10px;">
      <mat-form-field class="example-full-width " floatLabel="never">
        <input matInput placeholder="Id Number">
      </mat-form-field>
    </mat-card>

    <mat-card style="background-color: whitesmoke;margin-bottom: 10px;">
      <mat-form-field class="example-full-width " floatLabel="never">
        <input matInput placeholder="Spause Name">
      </mat-form-field>
    </mat-card>

    <mat-card style="background-color: whitesmoke;margin-bottom: 10px;">
      <mat-form-field class="example-full-width " floatLabel="never">
        <input matInput placeholder="Residental Address">
      </mat-form-field>
    </mat-card>

    <mat-card style="background-color: whitesmoke;margin-bottom: 10px;">
      <mat-form-field class="example-full-width " floatLabel="never">
        <input matInput placeholder="Client Contants">
      </mat-form-field>

    </mat-card>

    <button mat-raised-button type="submit" style="margin-right: 10px;">Register</button>
    <button mat-raised-button (click)="changeLayout('all')">Show Customers</button>

  </form>

</div>


<button mat-fab color="primary" style=" position: fixed !important;right: 50px;top:600px " (click)="changeLayout('register')" *ngIf="layoutChoose !== 'register' ">
  <mat-icon>add</mat-icon>
</button>
